.card_wrapper {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: #ffffff;
    padding: .9em 1em;
    border-radius: 5px;
}

.card_wrapper:not(:last-of-type) {
    margin-bottom: 10px;
}

.card_wrapper-information {
    display: inherit;
    align-items: center;
}

.information_checkbox {
    height: 15px;
    width: 15px;
    background-color: #ffffff;
    border: 1px solid #949494;
    border-radius: 100%;
    margin-right: 10px;
}

.checked {
    background-color: #2c91bd;
    position: relative;
}

.checked:before {
    content: '\2713';
    display: inline-block;
    position: absolute;
    color: #ffffff;
    font-size: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.text_disabled {
    color: #949494;
    text-decoration: line-through;
}